<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Tabsproduct>
            <version>1.6.2.0</version>
        </Magentothem_Tabsproduct>
    </modules>
    <frontend>
        <routers>
            <tabsproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Tabsproduct</module>
                    <frontName>tabsproduct</frontName>
                </args>
            </tabsproduct>
        </routers>
        <layout>
            <updates>
                <tabsproduct>
                    <file>tabsproduct.xml</file>
                </tabsproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<tabsproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Tabsproduct</module>
					<frontName>tabsproduct</frontName>
				</args>
			</tabsproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="tabsproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<tabsproduct translate="title" module="tabsproduct">
						<title>Tabs Product</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/tabsproduct</action>
							</configuration>
						</children>
					</tabsproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Tabsproduct>
							<title>Tabsproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Tabsproduct>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <tabsproduct>
                <class>Magentothem_Tabsproduct_Model</class>
                <resourceModel>tabsproduct_mysql4</resourceModel>
            </tabsproduct>
            <tabsproduct_mysql4>
                <class>Magentothem_Tabsproduct_Model_Mysql4</class>
                <entities>
                    <tabsproduct>
                        <table>tabsproduct</table>
                    </tabsproduct>
                </entities>
            </tabsproduct_mysql4>
        </models>
        <resources>
            <tabsproduct_setup>
                <setup>
                    <module>Magentothem_Tabsproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tabsproduct_setup>
            <tabsproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tabsproduct_write>
            <tabsproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tabsproduct_read>
        </resources>
        <blocks>
            <tabsproduct>
                <class>Magentothem_Tabsproduct_Block</class>
            </tabsproduct>
        </blocks>
        <helpers>
            <tabsproduct>
                <class>Magentothem_Tabsproduct_Helper</class>
            </tabsproduct>
        </helpers>
    </global>
	<default>
		<tabsproduct>
			<tabsproduct_config>
				<enabled>1</enabled>
				<mode>latest</mode>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<qty>9</qty>
				<items>3</items>
				<width>135</width>
				<height>135</height>
			</tabsproduct_config>
		</tabsproduct>
	</default>
</config>